.controler {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.controler .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #2cec12;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

.controler .stop-btn {
    display: flex;
    margin: 0 30px;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #f70804;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}